$color-red: #a00;
$color-white: #eeeeef;
$color-black: #393333;

// nav header
$header: $color-white;
$header-light: lighten($header, 7%);
$header-text: rgba(black, 1);
$header-hover-text: rgba(black, .6);
$header-divider: darken($color-black, 5%);
$header-divider-light: lighten($header-light, 5%);
$header-search-bg: darken( $header, 10%);

// dropdown
$dropdown-btn: black;
$dropdown-btn-text: white;
$dropdown-menu: black;
$dropdown-text: $header-text;
$dropdown-hover-text: $color-white;
$dropdown-hover-text-bg: $color-black;

// block
$block-title: white;
$block-text: rgba($color-white, 0.75);
$block-content-bg: linear-gradient( rgba(black, 0) 0, rgba(black, .2) 35%, rgba(black, .75) 100% );

// shows
$shows-link-color: #787878;
$shows-hover-bg: #252525;
$shows-open-bg: #252525;
$shows-collapse-bg: #252525;

// news
$news-list-divider: $color-white;
$news-item-title-color: $color-black;
$news-item-text-color: rgba($color-black, 0.45);

// campaigns
$campaign-color: rgba($color-black, 0.75);
$campaign-hover-color: rgba($color-black, 0.5);
