$color-red: #a00;
$color-white: #eeeeef;
$color-black: #393333;

// nav header
$header: $color-white;
$header-light: lighten($header, 7%);
$header-text: rgba(black, 1);
$header-hover-text: rgba(black, .6);
$header-divider: darken($color-black, 5%);
$header-divider-light: lighten($header-light, 5%);
$header-search-bg: darken( $header, 10%);

// block
$block-title: white;
$block-text: rgba($color-white, 0.75);
$block-content-bg: linear-gradient( bottom, rgba(black, .5) 0, rgba(black, .25) 15%,rgba(black, 0) 35% );

// shows
$shows-link-color: $color-black;
$shows-hover-bg: $color-white;
$shows-open-bg: $shows-hover-bg;
$shows-collapse-bg: $shows-open-bg;

// news
$news-list-divider: $color-white;
$news-item-title-color: $color-black;
$news-item-text-color: rgba($color-black, 0.45);

// campaigns
$campaign-color: rgba($color-black, 0.75);
$campaign-hover-color: rgba($color-black, 0.5);

// footer
$footer-title-color: $color-black;
$footer-list-color: rgba($color-black, 0.6);

// video
$video-title-color: rgba($color-black, 0.75);
$video-play-icon-color: rgba(white, 0.75);
$video-play-icon-bg-color: rgba(black, 0.5);
$video-play-icon-hover-color: rgba(white, 0.95);
$video-play-icon-hover-bg-color: rgba(black, 0.75);

// pill-item
$pill-list-divider-color: $color-white;
$pill-list-link-color: rgba($color-black, 0.75);
$pill-list-link-hover-color: rgba($color-black, 0.5);
