// 基本設定
$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;

// add media
$wide-mobile: 440px;

$pad-columns     : 12;
$pad-break       : 640px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 15;
$desktop-break    : 960px;
$desktop: $desktop-break $desktop-columns;

$wide-desktop-columns  : 21;
$wide-desktop-break    : 1240px;
$wide-desktop: $wide-desktop-break $wide-desktop-columns;

$ex-wide-desktop-columns  : 24;
$ex-wide-desktop-break    : 1440px;
$ex-wide-desktop: $ex-wide-desktop-break $ex-wide-desktop-columns;

// debug-grid
// $grid-background-column-color: rgba(red,.03);
// $grid-background-baseline-color: rgba(blue,.05);
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;
//   @include at-breakpoint($pad) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($wide-desktop) {
//     @include susy-grid-background;
//   }
// }

$container-style: fluid;

body {
  background-color: $body-bg;
}

.container {
  @include container($total-columns, $pad, $desktop, $wide-desktop, $ex-wide-desktop);
  overflow-x: hidden;
}

// off-canvas 設定
$off-canvas-menu-columns: 4;
$off-canvas-shows-columns: 4;

.off-canvas-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: columns($off-canvas-menu-columns) + gutter($total-columns);
  height: 100%;
  @include transition( right .3s, left .3s );
  .show-shows & {
    left: -100%;
  }
}

.off-canvas-main {
  position: relative;
  left: 0; // for firefox
  right: 0; // for firefox
  z-index: 2;
  width: 100%;
  @include transition( right .3s, left .3s );
  .show-menu & {
    left: space($off-canvas-menu-columns);
    right: - space($off-canvas-menu-columns);
  }
  .show-shows & {
    right: space($off-canvas-menu-columns);
    left: - space($off-canvas-shows-columns);
  }
}
.off-canvas-main-inner {
  @include padding-trailer(1);
  background-color: $main-content-bg;
}

.shows {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 100%;
  width: columns($off-canvas-shows-columns) + gutter($total-columns);
}

// end off-canvas

.header {
}

.main {
  @include pie-clearfix;
  @include trailer(1);
}
.main-inner {
  padding: $base-line-height gutter($total_columns) 0;
}

.sidebar-inner {
  padding: 0 gutter($total_columns);
}

.content {
  min-height: 600px;
}

.footer {
  min-height: 100px;
  clear: both;
}


@include at-breakpoint($pad) {

  $off-canvas-menu-columns: 4;
  $off-canvas-shows-columns: 4;

  .off-canvas-menu {
    width: columns($off-canvas-menu-columns) + gutter($total-columns);
  }
  .off-canvas-main {
    .show-menu & {
      left: space($off-canvas-menu-columns);
      right: - space($off-canvas-menu-columns);
    }
    .show-shows & {
      right: space($off-canvas-menu-columns);
      left: - space($off-canvas-shows-columns);
    }
  }
  .shows {
    width: columns($off-canvas-shows-columns) + gutter($total-columns);
  }

  .main-inner {
    padding: $base-line-height gutter($total_columns) 0;
  }

  .sidebar-inner {
    padding: 0 gutter($total_columns);
  }

}


@include at-breakpoint($desktop) {

  $off-canvas-menu-columns: 3;
  $off-canvas-main: $total-columns - $off-canvas-menu-columns;

  .off-canvas-menu {
    position: static;
    @include reset-columns;
    width: columns($off-canvas-menu-columns) + gutter($total_columns);
    float: left;
    min-height: 500px;
  }
  .off-canvas-main {
    @include span-columns($off-canvas-main omega);
    .show-menu & {
      left: 0;
      right: 0;
    }
    .show-shows & {
      left: 0;
      right: 0;
    }
  }
  .header {
    position: absolute;
    top: 0;
    right: 100%;
    width: columns($off-canvas-menu-columns, $off-canvas-main) + gutter($total_columns);
  }

  .main-inner {
    padding: 0 gutter($off-canvas-main);
  }
  .sidebar-inner {
    padding: 0 gutter($off-canvas-main);
  }

  .shows {
    @include reset-columns;
    position: relative;
    top: 0;
    bottom: auto;
    left: 0;
    z-index: 1;
    @include box-shadow(none);
  }
  .content {
    clear: both;
  }

  // footer-inner 設定與 .off-canvas-main 一致
  .footer-inner {
    @include span-columns($off-canvas-main omega);
  }

}


@include at-breakpoint($wide-desktop) {

  $off-canvas-menu-width: 260px;
  $sidebar-width: 260px;

  .off-canvas-menu {
    width: $off-canvas-menu-width;
    float: left;
  }
  .off-canvas-main {
    width: 100%;
    float: right;
    margin-right: -$off-canvas-menu-width;
    background-color: white;
  }
  .off-canvas-main-inner {
    max-width: 1200px;
    position: relative;
    margin-right: $off-canvas-menu-width;
    @include pie-clearfix;
  }
  .header {
    width: 260px;
  }
  .main {
    width: 100%;
    float: left;
    padding: 0;
    margin-right: -$sidebar-width;
  }
  .main-inner {
    padding: 0 space(1, $total_columns);
    margin-right: $sidebar-width;
  }
  .sidebar {
    float: right;
    width: $sidebar-width;
  }
  .sidebar-inner {
    padding: rhythm(1) 12px 0 0;
  }

  // footer-inner 設定與 .off-canvas-main 一致
  .footer-inner {
    float: none;
    margin-left: $off-canvas-menu-width;
    width: auto;
    max-width: 1200px;
  }

}
