// 基本設定
$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;

// add media
$wide-mobile: 440px;

$pad-columns     : 12;
$pad-break       : 640px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 15;
$desktop-break    : 960px;
$desktop: $desktop-break $desktop-columns;

$wide-desktop-columns  : 21;
$wide-desktop-break    : 1200px;
$wide-desktop: $wide-desktop-break $wide-desktop-columns;

$ex-wide-desktop-columns  : 24;
$ex-wide-desktop-break    : 1440px;
$ex-wide-desktop: $ex-wide-desktop-break $ex-wide-desktop-columns;

// debug-grid
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;
//   @include at-breakpoint($pad) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($wide-desktop) {
//     @include susy-grid-background;
//   }
//   @include at-breakpoint($ex-wide-desktop) {
//     @include susy-grid-background;
//   }
// }

// demo 用
.main, .sidebar, .footer {
  min-height: 600px;
  // outline: 2px dashed black;
  @include box-sizing(border-box);
  padding: 12px;
  margin-bottom: 12px;
}

.shows, .content {
  outline: 2px dashed green;
  min-height: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  @include box-sizing(border-box);
  padding: 12px;
}
.content {
  min-height: 600px;
}

.footer {
  min-height: 100px;
  clear: both;
}




body {
  background-color: $color-white;
}

$container-style: fluid;

.container {
  @include container($total-columns, $pad, $desktop, $wide-desktop, $ex-wide-desktop);
  overflow-x: hidden;
}

// off-canvas 設定
$off-canvas-menu-columns   : 4;

.off-canvas-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: columns($off-canvas-menu-columns) + gutter($total-columns);
  height: 100%;
}

.off-canvas-main {
  position: relative;
  z-index: 2;
  @include box-shadow(0 0 5px rgba(#000, 0.25) );
  background-color: #fff;
  width: 100%;
  @include transition( right .3s);
  .show-menu & {
    right: - space($off-canvas-menu-columns);
  }
}


@include at-breakpoint($pad) {
  $off-canvas-menu-columns: 4;

  .off-canvas-menu {
    width: columns($off-canvas-menu-columns) + gutter($total-columns);
  }

  .off-canvas-main {
    .show-menu & {
      right: - space($off-canvas-menu-columns);
    }
  }

}



@include at-breakpoint($desktop) {
  $off-canvas-menu-columns: 3;
  $off-canvas-main: $total-columns - $off-canvas-menu-columns;
  .off-canvas-menu {
    position: static;
    @include reset-columns;
    width: columns($off-canvas-menu-columns) + gutter($total_columns);
    float: left;
    min-height: 500px;
  }
  .off-canvas-main {
    @include transition(none);
    @include span-columns($off-canvas-main omega);
    .show-menu & {
      right: 0;
    }
  }
  .header {
    position: absolute;
    top: 0;
    left: - space($off-canvas-menu-columns, $off-canvas-main);
    width: columns($off-canvas-menu-columns, $off-canvas-main) + gutter($total_columns);
  }

}


@include at-breakpoint($wide-desktop) {
  $off-canvas-menu-columns: 3;
  $off-canvas-main: $total-columns - $off-canvas-menu-columns;
  $main-columns: 12;
  $sidebar-columns: $off-canvas-main - $main-columns;
  .off-canvas-menu {
    // @include span-columns($off-canvas-menu-columns);
    width: columns($off-canvas-menu-columns) + gutter($total_columns);
    float: left;
  }
  .off-canvas-main {
    @include span-columns($off-canvas-main omega);
  }
  .header {
    left: - space($off-canvas-menu-columns, $off-canvas-main);
    width: columns($off-canvas-menu-columns, $off-canvas-main) + gutter($total_columns);
  }
  .main {
    @include span-columns($main-columns, $off-canvas-main);
  }
  .sidebar {
    @include span-columns($sidebar-columns omega, $off-canvas-main);
  }
}


@include at-breakpoint($ex-wide-desktop) {
  $off-canvas-menu-columns: 3;
  $off-canvas-main: $total-columns - $off-canvas-menu-columns;
  $main-columns: 15;
  $sidebar-columns: $off-canvas-main - $main-columns;
  $shows-columns: 3;
  $content-columns: $main-columns - $shows-columns;
  .off-canvas-menu {
    // @include span-columns($off-canvas-menu-columns);
    width: columns($off-canvas-menu-columns) + gutter($total_columns);
    float: left;
  }
  .off-canvas-main {
    @include span-columns($off-canvas-main omega);
  }
  .header {
    left: - space($off-canvas-menu-columns, $off-canvas-main);
    width: columns($off-canvas-menu-columns, $off-canvas-main) + gutter($total_columns);
  }
  .main {
    @include span-columns($main-columns, $off-canvas-main);
  }
  .sidebar {
    @include span-columns($sidebar-columns omega, $off-canvas-main);
  }
  .shows {
    min-height: 400px;
    @include span-columns($shows-columns, $main-columns);
  }
  .content {
    @include span-columns($content-columns omega, $main-columns);
  }
}
