$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie: true;
$legacy-support-for-ie8: true;
$experimental-support-for-microsoft: true;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "colors";
@import "mixin";
@import "typography";
@import "layout";


// partials
@import "partials/header";
@import "partials/footer";
@import "partials/block";
@import "partials/magnific-popup";
@import "partials/off-canvas-menu";
@import "partials/now-playing"; //一定要在 off-canvas-menu 的下方
@import "partials/video";
@import "partials/news-item";
@import "partials/pills-item";
@import "partials/states-bar";
@import "partials/gsc-custom";

@import "page";


// 消鋸齒工具
%antialiased {
  -webkit-font-smoothing: antialiased;
}

%subpixel {
  -webkit-font-smoothing: subpixel-antialiased;
}


// 隱藏工具

.hide {
  display: none;
}

.hide-mobile {
  display: none;
}

@include at-breakpoint($pad) {
  .hide-mobile {
     display: block;
  }
  .hide-pad {
    display: none;
  }
}

@include at-breakpoint($desktop) {
  .hide-pad {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
}

.active {
  display: block;
}
