$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie: false;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

// colors
@import "colors";

@import "layout";
@import "baseline";

@import "basic/basic";


// partials
@import "partials/header";
@import "partials/footer";
@import "partials/block";
@import "partials/off-canvas-menu";
@import "partials/now-playing"; //一定要在 off-canvas-menu 的下方
@import "partials/news-item";
@import "partials/pills-item";


@import "page";


// 消鋸齒工具
%antialiased {
  -webkit-font-smoothing: antialiased;
}

// 手機版隱藏工具
.hide-mobile {
  display: none;
}

@include at-breakpoint($pad) {
  .hide-mobile {
     display: block;
  }
  .hide-pad {
    display: none;
  }
}

@include at-breakpoint($desktop) {
  .hide-pad {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
}

.open {
  display: block;
}

.active {
  display: block;
}
