@import "compass";

// body size fix
body {
	max-width: 600px;
	margin: 0 auto;
}

// block video bug fix
.hero-tile .block {
	padding-bottom: 24px;
}

// video-group 2 column layout fix
.video-group .video {
	margin: 0.75%;
}

// mobile menu button fix
.show-menu .menu-btn-bar {
    &:first-child {
    	position: static;
    	margin: 0 auto;
      @include transform( rotate(0deg) );
    }
    &:last-child {
      position: static;
      @include transform( rotate(0deg) );
    }
}

// google search bar fix
td.gsc-input {
	height: 48px;
}
input.gsc-input {
	position: relative;
	height: 24px;
	top: 5px;
}


// pts channel logo size fix
.main-navigation .pts2 a {
  background: image-url("logo-pts2-small.png") 50% 55% no-repeat;
  @include background-size(68px 20px);
}

.main-navigation .pts-hd a {
  background: image-url("logo-pts-hd-small.png") 50% 55% no-repeat;
  @include background-size(68px 20px);
}

// off-canvas menu border color fix
.main-navigation .main-navigation-list li {
	border-bottom: 1px solid #CCC;
}
.main-navigation .channel.main-navigation-list li:first-child {
	border-right: 1px solid #CCC;
}

// video play icon background opacity fix
.video .video-thumbnail .play-icon {
	background-color: #FFF;
}