@import "compass";

// block video bug fix
.hero-tile .block {
  padding-bottom: 24px;
}

// video-group 2 column layout fix
.video-group .video {
  margin: 0.75%;
}

// mobile menu button fix
.show-menu .menu-btn-bar {
    &:first-child {
    	position: static;
    	margin: 0 auto;
      @include transform( rotate(0deg) );
    }
    &:last-child {
      position: static;
      @include transform( rotate(0deg) );
    }
}

// Google Search Custom search icon fix
td.gsc-search-button {
  width: 15%;
  background: image-url("icon-searchbar.png") center no-repeat;
  &:before {
    display: none;
  }
}
td.gsc-input {
  height: 48px;
}
input.gsc-input {
  position: relative;
  top: 3px;
  height: 24px;
}

// pts channel logo size fix
.main-navigation .pts2 a {
  background: image-url("logo-pts2-small.png") 50% 55% no-repeat;
  @include background-size(68px 20px);
}

.main-navigation .pts-hd a {
  background: image-url("logo-pts-hd-small.png") 50% 55% no-repeat;
  @include background-size(68px 20px);
}

// off-canvas menu border color fix
.main-navigation .main-navigation-list li {
	border-bottom: 1px solid #CCC;
}
.main-navigation .channel.main-navigation-list li:first-child {
	border-right: 1px solid #CCC;
}

// video play icon background opacity fix
.video .video-thumbnail .play-icon {
	background-color: #FFF;
}
@media (min-width: 440px) {
  // campaign 3 column layout fix
  .campaign {
    margin-right: 1.13%;
  }
  // sidebar pills item 2 column layout fix
  .sidebar-pills-item {
    margin-right: 0.75%
  }
}

@media (min-width: 640px) {
  // hero block 2 column layout fix
  .hero-tile .block {
    padding-bottom: 0;
    margin-right: 0.75%;
  }

  // hero sub block 3 column layout fix
  .hero-sub-tile .block {
    margin-right: 1.13%;
  }

  // video-group 3 column layout fix
  .video-group .video {
    margin-right: 1.13%;
  }

  // news-group 2 column layout fix
  .news-group .news {
    margin-right: 0.75%;
  }

  // off canvas menu now playing list li border color fix
  .now-playing .now-playing-list li + li {
    border-color: #CCC;
  }

  // off canvas menu time now border color fix
  .now {
    border-color: #CCC;
  }

}
