= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
  "/vender/bootstrap/js/bootstrap-js", \
  "/vender/magnific-popup/jquery.magnific-popup.js", \
  "/vender/imagesloaded.pkgd.js", \
  "all"
