.campaigns {
  @include pie-clearfix;
  @include trailer(1);
}

.campaign {
  @include trailer(1);
  display: block;
  color: $campaign-color;
  &:hover {
    color: $campaign-hover-color;
    text-decoration: none;
  }

  img {
    width: 100%;
    margin-bottom: 0;
  }

  .campaign-title {
    @include leader(.25);
    @include adjust-font-size-to(12px, 2/3);
  }

  @include at-breakpoint($pad) {
    display: inline-block;
    vertical-align: top;
    width: columns(4);
    margin: 0 gutter($total_columns) gutter($total_columns) 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include at-breakpoint($wide-desktop) {
    margin-right: 0;
    @include trailer(.5);
    width: auto;
  }

}
