.news {
  @include trailer(1);

  .nav-tabs {
    $border-bottom-width: 2px;
    @include pie-clearfix;
    border-bottom: $border-bottom-width solid $color-black;
    li {
      width: 50%;
      float: left;
      // tab 被選取時的樣式
      &.active a {
        color: $color-white;
        background-color: $color-black;
      }
    }
    a {
      $padding-width: 12px;
      display: block;
      padding: ($padding-width / 2) $padding-width ($padding-width / 2 - $border-bottom-width);
      @include adjust-font-size-to(13px);
      color: $color-black;
      background-color: $color-white;
      @include border-radius(5px 5px 0 0);
      &:hover {
        text-decoration: none;
      }
    }
  }

  .tab-panel {
    @include pie-clearfix;
    .more {
      float: right;
      @include leader(.25);
      @include adjust-font-size-to(13px);
    }
  }

  .news-list {
    li {
      border-bottom: 1px solid $color-white;
      a {
        padding: 12px 0;
      }
    }
  }

}
