.news-group {
  @include trailer(1);
  opacity: 1;
  @include transition(opacity .5s .75s); // multiple: comma-delimited

  .img-loading & {
    opacity: 0;
  }
  .news {
    @include trailer(1);
    @include at-breakpoint($pad) {
      @include trailer(0);
      @include span-columns(6);
      @include nth-omega(2n);
    }
  }

  .news-title {
    $border-bottom-width: 2px;
    border-bottom: $border-bottom-width solid $pts-color-blue;
    a {
      @include adjust-font-size-to(18px);
      color: $color-black;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .more {
    display: inline-block;
    @include leader(.25);
    @include adjust-font-size-to(13px);
  }


  .news-list {
    li {
      border-bottom: 1px solid $news-list-divider;
    }
    a {
      padding: 12px 0;
    }
  }

}
