.news-group {
  @include trailer(1);
  @include transition(opacity .5s .75s); // multiple: comma-delimited
  .news {
    @include trailer(1);
    @include at-breakpoint($pad) {
      @include trailer(0);
      @include span-columns(6);
      @include nth-omega(2n);
    }
  }

  .news-title {
    $border-bottom-width: 2px;
    padding: rhythm(1.25) 0 rhythm(.5);
    border-bottom: 2px solid $pts-color-blue;
    &.pts-news a {
      display: block;
      color: $color-black;
      @include unstyled-link;
      @include replace-text-with-dimensions("pts-news.png");
      background-image: none, image-url("pts-news.svg");
      cursor: pointer;
    }
    &.citizen-news a {
      display: block;
      color: $color-black;
      @include unstyled-link;
      @include replace-text-with-dimensions("citizen-news.png");
      background-image: none, image-url("citizen-news.svg");
      cursor: pointer;
    }
    a:hover {
      background-color: $pts-color-superlightblue;
    }
  }

  .more {
    display: inline-block;
    @include ellipsis;
    @include leader(.25);
    @include adjust-font-size-to(16px);
    @include at-breakpoint($pad) {
      @include adjust-font-size-to(13px);
    }
  }


  .news-list {
    li {
      border-bottom: 1px solid $news-list-divider;
    }
    a {
      padding: 12px 12px 12px 0px;
      @include transition(padding .15s ease-in);
      &:hover {
        padding:12px 4px 12px 8px;
      }
    }
  }

}
