.shows {
  @include trailer(1);
  > li {
    border-bottom: {
      width: 1px;
      style: solid;
    }
    // 引用 _off-canvas-menu 內的 %tile
    @extend %tile;
    @include box-shadow(none);
  }
  .style {
    display: block;
    $border-size: 1px;
    $font-size: 13px;
    font-size: $font-size;
    line-height: rhythm(2) - $border-size;
    padding: 0 $base-line-height / 2;
    color: rgba(black, .5);
    @include transition( all .2s );
    &:after {
      content: "▾";
      float: right;
    }
    &:hover {
      background-color: rgba(white, .3);
      text-decoration: none;
    }


  }

  @include at-breakpoint($desktop) {
    float: right;
    > li {
      float: left;
      position: relative;
    }
    .style {
      @include transition(none);
      background-color: $color-white;
      &.collapsed {
        background-color: transparent;
      }
      &:after {
        margin-left: 6px;
      }
      &:hover {
        background-color: $color-white;
        text-decoration: none;
      }
    }
  }

  // @include at-breakpoint($ex-wide-desktop) {
  //   > li {
  //     float: none;
  //   }
  //   .style {
  //     @include transition( all .2s );
  //     background-color: transparent;
  //     &:after {
  //       margin-left: 0px;
  //     }
  //     &:hover {
  //       background-color: rgba(white, .3);
  //       text-decoration: none;
  //     }
  //   }
  // }

}

.shows-collapse {
  background-color: rgba(white, .3);
  @include adjust-font-size-to(13px);

  @include at-breakpoint($desktop) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    &.pull-right {
      left: auto;
      right: 0;
    }
  }

  // @include at-breakpoint($ex-wide-desktop) {
  //   position: static;
  // }

}

.shows-collapse-content {
  margin: 0 $base-line-height / 2;
  border-top: 1px solid rgba(black, .1);
  padding: ($base-line-height / 2) 0 $base-line-height;
  li {
    @include ellipsis;
  }
  a {
    color: rgba(black, .5);
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }
  time {
    color: #a00;
    display: inline;
    margin-right: 6px;
  }
  .show {
    display: inline;
  }

  @include at-breakpoint($desktop) {
    background-color: $color-white;
    margin: 0;
    border-top: 0;
    padding: ($base-line-height / 2) ($base-line-height / 2) $base-line-height;
  }

  // @include at-breakpoint($ex-wide-desktop) {
  //   background-color: transparent;
  //   margin: 0 $base-line-height / 2;
  //   border-top: 1px solid rgba(black, .1);
  //   padding: $base-line-height / 2 0 $base-line-height;
  // }

}
