.shows {
  @include trailer(1);
  @include transition(opacity .25s);
  > li {
    border-bottom: {
      width: 1px;
      style: solid;
      color: #ccc;
    }
  }
  .open {
    border-bottom: none;
  }
  .shows-title {
    position: relative;
    display: block;
    $border-size: 1px;
    $font-size: 15px;
    font-size: $font-size;
    line-height: rhythm(2) - $border-size;
    padding: 0 $base-line-height / 2;
    color: $shows-link-color;
    cursor: pointer;
    @include transition( background .2s );
    &:after {
      float: right;
      padding-left: 6px;
      content: "▾";
      @include at-breakpoint($pad) {
        float: none;
        display: inline;
      }
    }
    &:hover {
      text-decoration: none;
    }
  } // shows-title end
  > .open > .shows-title {
    color: $shows-title-color;
    line-height: rhythm(2);
    background-color: $shows-open-bg;
  }
  > .open .shows-collapse {
    border: none;
    background-color: $pts-color-lightblue3;
  }

  @include at-breakpoint($desktop) {
    @include leader(1);
    float: left;
    width: 125%;
    > li {
      float: left;
      position: relative;
      border-bottom: none;
    }
    .shows-title {
      line-height: rhythm(2);
      @include transition(none);
      padding: 0 12px;
    }
    > .open > .shows-title {
      line-height: rhythm(2);
      color: $color-white;
      background-color: $pts-color-blue;
    }
    > .open .shows-collapse {
      background-color: $pts-color-blue;
    }
    > .open .shows-collapse .show {
      margin: 0 -12px;
      padding: 0 12px;
    }
    > .open .shows-collapse .show a {
      margin: 0 -12px;
      padding: 0 12px;
      display: block;
      color: $color-white;
      @include adjust-font-size-to(13px, 1.25);
      &:hover {
        color: $color-white;
        @include opaque;
        background: $pts-color-lightblue;
      }
    }
  }
} // shows end

.shows-collapse {
  display: none;
  border-top: 1px solid $divider-color;
  padding: ($base-line-height / 2);
  @include adjust-font-size-to(13px, 1.25);
  > li {
    @include ellipsis;
  }
  a {
    color: $shows-link-color;
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }
  .open & {
    display: block;
  }

  @include at-breakpoint($desktop) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    margin: -8px 0 0 0;
    border-top: 0;
    padding: 4px 12px;
    background-color: $shows-collapse-bg;
    &.pull-right {
      left: auto;
      right: 0;
    }
  @include at-breakpoint($wide-desktop) {
    &.pull-right {
      left: 0;
      right: auto;
    }
  }
  }

} // show-collapse end
