.shows {
  @include trailer(1);
  > li {
    border-bottom: {
      width: 1px;
      style: solid;
    }
    @extend %tile; // 引用 _off-canvas-menu 內的 %tile
    @include box-shadow(none);
  }

  .shows-title {
    display: block;
    $border-size: 1px;
    $font-size: 13px;
    font-size: $font-size;
    line-height: rhythm(2) - $border-size;
    padding: 0 $base-line-height / 2;
    color: $shows-link-color;
    @include transition( all .2s );
    &:after {
      content: "▾";
      float: right;
    }
    &:hover {
      background-color: $shows-hover-bg;
      text-decoration: none;
    }
  } // shows-title end

  > .open > .shows-title {
    background-color: $shows-hover-bg;
  }

  @include at-breakpoint($desktop) {
    float: right;
    > li {
      float: left;
      position: relative;
    }
    .shows-title {
      @include transition(none);
      padding: 0 8px;
      &:after {
        margin-left: 6px;
      }
    }
  }

} // show end

.shows-collapse {
  display: none;
  border-top: 1px solid $divider-color;
  padding: ($base-line-height / 2);
  @include adjust-font-size-to(13px);
  > li {
    @include ellipsis;
  }
  a {
    color: $shows-link-color;
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }
  time {
    color: #a00;
    display: inline;
    margin-right: 6px;
  }
  .show {
    display: inline;
  }
  .open & {
    display: block;
  }

  @include at-breakpoint($desktop) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    margin: 0;
    border-top: 0;
    padding: 16px 24px;
    background-color: $shows-collapse-bg;
    &.pull-right {
      left: auto;
      right: 0;
    }
  }

} // show-collapse end
