.sidebar-pills-item {
  @include pie-clearfix;
  @include padding-trailer(1);

  .nav-pills {
    @include at-breakpoint($wide-desktop) {
      margin-top: 10px;
      border-bottom: 2px solid $color-black;
    }

    li {
      @include at-breakpoint($pad) {
        @include span-columns(4);
        @include nth-omega(3n);
        border-bottom: 2px solid $color-black;
        &.active a {
          color: $color-black;
          background-color: transparent;
        }
      }
      @include at-breakpoint($wide-desktop) {
        @include remove-nth-omega(3n);
        @include reset-columns;
        float: left;
        border-bottom: 0;
        &.active a {
          color: $color-white;
          background-color: $color-black;
        }
      }
    }
    a {
      @include at-breakpoint($pad) {
        padding: 0;
        @include adjust-font-size-to(16px);
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
      @include at-breakpoint($wide-desktop) {
        padding: 3px 12px;
        @include adjust-font-size-to(13px);
        cursor: pointer;
        &:hover {
          background-color: rgba(white, 0.7);
        }
      }
    }
  }

  .pill-panel {
    @include at-breakpoint($pad) {
      display: block;
      @include span-columns(4);
      @include nth-omega(3n);
    }
    @include at-breakpoint($wide-desktop) {
      display: none;
      @include reset-columns;
      // 移除 nth-omega(3n) 的效果
      &:nth-child(3n) {
        @include reset-columns;
      }
      &.active {
        display: block;
      }
    }
  }

}
