.sidebar {
  @include pie-clearfix;
  @include opaque;
  @include transition(opacity 1s); // multiple: comma-delimited

  .img-loading & {
    @include transparent;
  }
}

.sidebar-pills-item {

  @include trailer(1);

  @include at-breakpoint($pad) {
    @include span-columns(6);
    @include nth-omega(2n);
  }

  @include at-breakpoint($wide-desktop) {
    width: auto;
    float: none;
    margin-right: 0;
    &:nth-child(2n) {
      width: auto;
      float: none;
    }
  }

}



