.sidebar {
  @include pie-clearfix;
  opacity: 1;
  @include transition(opacity .5s .5s); // multiple: comma-delimited

  .img-loading & {
    opacity: 0;
  }
}

.sidebar-pills-item {

  @include trailer(1);

  @include at-breakpoint($pad) {
    @include span-columns(6);
    @include nth-omega(2n);
  }

  @include at-breakpoint($wide-desktop) {
    width: auto;
    float: none;
    margin-right: 0;
    &:nth-child(2n) {
      width: auto;
      float: none;
    }
  }

  .nav-pills {
    border-bottom: 2px solid $color-black;
  }

}



