.video-group {
  @include pie-clearfix;
  @include trailer(1);
  opacity: 1;
  @include transition(opacity .5s  .25s); // multiple: comma-delimited
  .video-group-title {
    @include trailer(.5);
    border-bottom: 2px solid $color-black;
    @include adjust-font-size-to(16px);
    a {
      color: $color-black;
      @include unstyled-link;
      cursor: pointer;
    }
  }

  .video {
    display: inline-block;
    width: columns(3);
    margin: 0 gutter($total-columns) gutter($total-columns) 0;
    vertical-align: top;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @include at-breakpoint($pad) {
      width: columns(4);
      margin: 0 gutter($total-columns) gutter($total-columns) 0;
      &:nth-child(2n) {
        margin-right: auto;
        margin: 0 gutter($total-columns) gutter($total-columns) 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  } // video end

  .img-loading & {
    opacity: 0;
  }


}
