.block {
  position: relative;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.block-media {

  background-repeat: no-repeat;
  background-position: center;
  img {
    margin-bottom: 0;
  }
  @include at-breakpoint($pad) {
    padding-top: 75%;
    height: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.block-content-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include background-image($block-content-bg);
  @include filter-gradient(rgba(black,0), rgba(black,.5));
  // background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 15%, rgba(0, 0, 0, 0) 35%); // ms prefix
}

.block-content {
  padding: 12px 12px 6px;
  @include text-shadow(0 2px 3px rgba(black, .5));
  @extend %subpixel;
}

.block-title {
  @include adjust-font-size-to(16px);
  color: $block-title;
  .date {
    @include nowrap;
  }
}

.block-text {
  margin-bottom: 0;
  @include ellipsis;
  @include adjust-font-size-to(13px);
  color: $block-text;
}




