.footer {
  @include leader(2);
  border-top: 1px solid #ddd;
  @include padding-leader(2);
}

.footer-inner { // 控制此處的欄位在 _layout.scss 中
  padding: 0 gutter($total_columns);
  @include at-breakpoint($desktop) {

    padding: 0;
  }
}


.footer-nav-group {
  @include pie-clearfix;
  @include trailer(1);
  @include at-breakpoint($desktop) {
    padding: 0 gutter(12);
  }
  @include at-breakpoint($wide-desktop) {
    padding: 0;
  }
}
.footer-nav {
  float: left;
  width: 45%;
  padding-right: 5%;
  @include trailer(.5);
  @include at-breakpoint($pad) {
    width: 18%;
    padding-right: 2%;
  }
  @include at-breakpoint($desktop) {
  }
}
.footer-nav-title {
  @include adjust-font-size-to(16px);
  color: $footer-title-color;
}
.footer-nav-list {
  li {
    padding: 4px 0;
    @include adjust-font-size-to(13px, 2/3);
  }
  a {
    color: $footer-list-color;
  }
}

.copyright {
  clear: both;
  @include padding-trailer(1.5);
  text-align: center;
  color: $copyright-color;
  @include adjust-font-size-to(13px, 2/3);
  span {
    white-space: nowrap;
  }
  @include at-breakpoint($desktop) {
    @include padding-trailer(.5);
    padding-right: gutter(12);
    text-align: right;
  }
}
