#cse-search-form {
	padding-left: 12px;
	@include adjust-font-size-to(16px, 2);
	color: $color-white;
	background: $pts-color-blue;
}
.gsc-branding {
	display: none;
}
table.gsc-search-box {
	margin-left: -12px;
	width: 100%;
}
td.gsc-input {
	padding-left: 12px;
	position: relative;
	background: transparent;
	&:after {
    @include ellipsis;
		content: "google search";
		position: absolute;
		top: 0;
		left: 12px;
		z-index: 0;
	}
}
input.gsc-input {
	@include border-box-sizing;
	@include border-radius(0);
	$height: 2;
	display: block;
	width: 100%;
	height: $base-line-height * $height;
	border: 0;
	padding: 0;
	@include input-placeholder-color( #CCC );
	color: white;
	background-color: transparent !important;
	background-image: none !important;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	margin: 0; // for ie
	&:focus {
		outline: none;
		background: $pts-color-blue !important;
	}
}
td.gsc-search-button:before {
  content: '';
  display: block;
  @include replace-text-with-dimensions("gsc-search.png");
  background-image: none, image-url("gsc-search.svg");
}
td.gsc-search-button {
	width: 12.5%;
}
input.gsc-search-button {
	display: none;
}
.gsc-clear-button {
	display: none;
}
