.header {
  a {
    @include link-colors( $header-text, $header-hover-text );
    @include unstyled-link;
    cursor: pointer;
  }
  background-color: rgba(black, .1);
  @include box-shadow(inset 0 -1px 0 rgba(black, .1) );
}

.logo {
  text-align: center;
  @include adjust-font-size-to(24px, 2);
  a {
    display: inline;
  }
  @include at-breakpoint($desktop) {
    @include adjust-font-size-to(30px, 4);
    a {
      height: auto;
      background: white;
      display: block;
      margin: 0 -5px;
    };
  }
}

%header-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  padding: 0 3px;
  @include adjust-font-size-to(16px, 2);
  border: 0;
  background-color: rgba(black, 0);
  @include transition(background-color .3s .4s, padding .3s .4s ease-out);
  @include at-breakpoint($desktop) {
    display: none;
  }
  .icon {
    position: relative;
    top: 0px;
    color: rgba(black, .3);
  }
  &:focus {
    outline: none;
  }
}

.menu-btn {
  @extend %header-btn;
  left: 0;
  .show-menu & {
    padding-right: 3em;
    background: rgba(black, .1);
  }
  .icon {
    margin-right: 2px;
  }
}

.shows-btn {
  @extend %header-btn;
  right: 0;
  .show-shows & {
    padding-left: 3em;
    background: rgba(black, .1);
  }
  .icon {
    margin-left: 2px;
  }
}

// 暫時先留著
// .menu-btn-bar {
//   $margin-width: 6px;
//   display: block;
//   height: 2px;
//   background-color: $header-text;
//   & + & {
//     margin-top: $margin-width;
//   }
//   @include box-shadow( 0 1px 0 rgba(black, .5) );
// }
