.news-item {
  @include pie-clearfix;
  display: block;

  &:hover {
    text-decoration: none;
    background-color: $pill-list-link-hover-bg-color;
  }
}

.news-item-media {
  float: left;
  margin-right: 12px;
  width: 48px;
  height: 48px;
  @include at-breakpoint($pad) {
    height: (2/3) * $base-line-height * 2;
  }
  img {
    margin-bottom: 0;
  }
}

.news-item-content {
  overflow: hidden;
}

.news-item-title {
  color: $news-item-title-color;
  @include adjust-font-size-to(16px, 1);
  max-height: $base-line-height * 2;
  overflow: hidden;
  @include at-breakpoint($pad) {
     @include adjust-font-size-to(13px, 2/3);
     max-height: (2/3) * $base-line-height * 2;
  }
}

