.news-item {
  @include pie-clearfix;
  display: block;
  img {
    float: left;
    margin-bottom: 0;
    margin-right: 12px;
  }
  &:hover {
    text-decoration: none;
    background-color: #ffe;
  }
}

.news-item-content {
  overflow: hidden;
}

.news-item-title {
  color: $news-item-title-color;
  @include adjust-font-size-to(13px, 2/3);
}

.news-item-text {
  @include adjust-font-size-to(13px, 2/3);
  color: $news-item-text-color;
  height: 2.5em;
  overflow: hidden;
}

