.now-playing {
  .now-playing-title {
    @include navigation-title; // code 在 _off-canvas-menu.scss 設定
  }
  .now-playing-list {
    @include adjust-font-size-to(13px);
    color: rgba(black, .5);
    $padding: 1/2;
    li {
      padding: 0 $base-line-height / 2;
      @include padding-leader($padding);
      @include padding-trailer($padding);
      @extend %tile;
      margin-top: 0;
    }
    li + li {
      @include leading-border(1px, $padding);
      @include padding-trailer($padding);
      @extend %tile; // code 在 _off-canvas-menu.scss 中設定
      margin-top: 0;
    }
    time {
      float: left;
      margin-right: 5px;
      font-weight: bold;
      color: #a00;
    }
    .channel, p {
      margin: 0;
      font-weight: bold;
      color: black;
    }
    .show {
      display: block;
      color: rgba(black, .5);
      @include ellipsis;
    }
  }
}
