.off-canvas-menu {
  padding-top: $base-line-height * 2;
  @include at-breakpoint($desktop) {
    padding-top: $base-line-height * 4;
  }
  .search {
    @include pie-clearfix;
    position: absolute;
    top: 0;
    width: 100%;
    @include box-shadow(inset 0 -1px 0 rgba(black, .1) );
    @include at-breakpoint($desktop) {
      position: relative;
      @include box-shadow( none );
    }
    label {
      position: absolute;
      top: -2px;
      right: 12px;
      @include adjust-font-size-to(16px, 2);
      color: rgba(white, .7);
    }
    .search-input {
      @include border-box-sizing;
      @include border-radius(0);
      $height: 2;
      display: block;
      width: 100%;
      height: $base-line-height * $height;
      border: 0;
      padding-left: $base-line-height / 2;
      padding-right: 36px;
      @include input-placeholder-color( #999 );
      color: white;
      background-color: rgba(black, .5);
    }
  }
}

%navigation-title {
  color: white;
  font-weight: bold;
  background: rgba(black, .5);
}

%tile { // 讓 menu 呈現專塊塊狀
  border-color: rgba(black, .1);
  @include box-shadow( inset 0 1px rgba(white, .7) );
}

@mixin navigation-title($font-size: 12px, $border-size: 1px) {
  font-size: $font-size;
  line-height: rhythm(1) - $border-size * 2;
  border-bottom: $border-size solid rgba(black, .5);
  padding: $border-size ($base-line-height / 2) 0;
  @extend %navigation-title;
  @extend %antialiased;
}

.main-navigation {
  .main-navigation-title {
    @include navigation-title;
  }
  .main-navigation-list {
    li {
      border-bottom: {
        width: 1px;
        style: solid;
      }
      @extend %tile;
    }
    a {
      display: block;
      $border-size: 1px;
      $font-size: 13px;
      font-size: $font-size;
      line-height: rhythm(2) - $border-size;
      padding: 0 $base-line-height / 2;
      color: rgba(black, .5);
      @include transition( all .2s );
      @media (max-height: 380px) {
        // 針對過低的瀏覽器高度調整
        line-height: rhythm(1.5) - $border-size;
      }
      &:after {
        content: "→";
        float: right;
        position: relative;
        right: -2em;
        @include transition( all .2s );
      }
      &:hover {
        background-color: rgba(white, .3);
        text-decoration: none;
        padding-left: 2em;
        &:after {
          right: 0;
        }
      }
    }
  }
  @include at-breakpoint($desktop) {
    background-color: transparent;
  }
}

.now {
  padding: 0 $base-line-height / 2;
  @include nowrap;
  overflow: hidden;
  small {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    @include adjust-font-size-to(12px);
    margin-right: -1px;
    opacity: .5;
  }
  time {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    letter-spacing: -2px;
    @include adjust-font-size-to(64px);
  }
}
