.pills-item {

  .nav-pills {
    @include pie-clearfix;
    border-bottom: 2px solid $color-black;
    @include at-breakpoint($pad) {
      border-bottom: 0;
    }

    li {
      float: left;
      // padding-bottom: 6px;
      // pill 被選取時的樣式
      &.active a {
        color: $color-white;
        background-color: $pts-color-blue;
      }
    }

    a {
      display: block;
      padding: 3px 12px 1px 12px;
      @include adjust-font-size-to(13px);
      color: $color-black;
      @include border-radius(3px 3px 0 0);
      &:hover {
        text-decoration: none;
        background-color: $color-white;
      }
    }
  }

  .pill-panel {
    display: none;
    .more {
      // float: right;
      @include adjust-font-size-to(13px);
    }
    &.active {
      display: block;
    }
  }

  .pill-panel-list {
    // padding-top: 3px;
    @include adjust-font-size-to(13px);
    li {
      @include ellipsis;
      border-bottom: 1px solid $pill-list-divider-color;
      a {
        display: block;
        padding: 6px 0 5px;
        @include unstyled-link;
        @include link-colors( $pill-list-link-color, $pill-list-link-hover-color );
      }
    }
  }

}






