.pills-item {

  .nav-pills {
    @include pie-clearfix;
    border-bottom: 2px solid $nav-pills-border-color;
    li {
      float: left;
      // pill 被選取時的樣式
      &.active a {
        color: $color-white;
        background-color: $nav-pills-item-active-bg-color;
      }
    }

    a {
      display: block;
      padding: 5px 12px 3px 12px;
      @include adjust-font-size-to(16px);
      @include at-breakpoint($pad) {
        padding: 3px 12px 1px 12px;
        @include adjust-font-size-to(13px);
      }
      color: $color-black;
      @include border-radius(3px 3px 0 0);
      @include transition(background .3s);
      &:hover {
        text-decoration: none;
        background-color: $nav-pills-item-hover-bg-color;
      }
    }
  }

  .pill-panel {
    display: none;
    .more {
      // float: right;
      @include adjust-font-size-to(16px);
      @include at-breakpoint($pad) {
        @include adjust-font-size-to(13px);
      }
    }
    &.active {
      display: block;
    }
  }

  .pill-panel-list {
    // padding-top: 3px;
    @include adjust-font-size-to(16px);
    @include at-breakpoint($pad) {
      @include adjust-font-size-to(13px);
    }
    li {
      border-bottom: 1px solid $pill-list-divider-color;
      a {
        @include has-layout;
        display: block;
        padding: 6px 7px 5px 0px;
        @include ellipsis;
        @include unstyled-link;
        @include link-colors( $pill-list-link-color, $pill-list-link-hover-color );
        @include transition(background .15s linear);
        &:hover {
          background-color: $pill-list-link-hover-bg-color;
        }
      }
    }
  }

}



