.video {
  display: block;
  .video-title {
    color: $color-black;
    @include leader(.25);
    @include adjust-font-size-to(12px, 2/3);
    max-height: (2/3) * $base-line-height * 2;
    overflow: hidden;
  }

  .video-thumbnail {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
    background: $img-holder-color;
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin-bottom: 0;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      margin-top: -20px;
      margin-left: -20px;
      width: 40px;
      height: 40px;
      @include border-radius(20px);
      background-color: $video-play-icon-bg-color;
      text-align: center;
      @include transition(background-color .3s);
    }

    .glyphicon-play {
      position: relative;
      top: 9px;
      left: 1px;
      color: $video-play-icon-color;
      font-size: 18px;
      @include transition(color .3s);
    }
  } // .video-thumbnail end

  // Video hover 時特效
  &:hover {
    text-decoration: none;
    .play-icon {
      background-color: $video-play-icon-hover-bg-color;
    }
    .glyphicon-play {
      color: $video-play-icon-hover-color;
    }
  }

}
