.video {
  display: block;
  img {
    width: 100%;
    margin-bottom: 0;
  }

  .video-title {
    color: rgba(black, 0.75);
    @include leader(.25);
    @include adjust-font-size-to(12px, 2/3);
  }

  .video-thumbnail {
    position: relative;
    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      width: 40px;
      height: 40px;
      @include border-radius(20px);
      background-color: rgba(black, .5);
      text-align: center;
      @include transition(background-color .3s);
    }
    .glyphicon-play {
      position: relative;
      top: 9px;
      left: 1px;
      color: rgba(white, .45);
      font-size: 18px;
      @include transition(color .3s);
    }
  }

  // 影片 hover 時特效
  &:hover {
    text-decoration: none;
    .play-icon {
      background-color: rgba(black, .75);
    }
    .glyphicon-play {
      color: rgba(white, 0.75);
    }
  }

}
