body {
  max-width: 600px;
  margin: 0 auto;
}

.hero-tile .block {
  padding-bottom: 24px;
}

.video-group .video {
  margin: 0.75%;
}

.show-menu .menu-btn-bar:first-child {
  position: static;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.show-menu .menu-btn-bar:last-child {
  position: static;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

td.gsc-input {
  height: 48px;
}

input.gsc-input {
  position: relative;
  height: 24px;
  top: 5px;
}

.main-navigation .pts2 a {
  background: url('/images/logo-pts2-small.png?1387438610') 50% 55% no-repeat;
  -webkit-background-size: 68px 20px;
  -moz-background-size: 68px 20px;
  -o-background-size: 68px 20px;
  background-size: 68px 20px;
}

.main-navigation .pts-hd a {
  background: url('/images/logo-pts-hd-small.png?1387438610') 50% 55% no-repeat;
  -webkit-background-size: 68px 20px;
  -moz-background-size: 68px 20px;
  -o-background-size: 68px 20px;
  background-size: 68px 20px;
}

.main-navigation .main-navigation-list li {
  border-bottom: 1px solid #CCC;
}

.main-navigation .channel.main-navigation-list li:first-child {
  border-right: 1px solid #CCC;
}

.video .video-thumbnail .play-icon {
  background-color: #FFF;
}
