.hero-tile .block {
  padding-bottom: 24px;
}

.video-group .video {
  margin: 0.75%;
}

.show-menu .menu-btn-bar:first-child {
  position: static;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.show-menu .menu-btn-bar:last-child {
  position: static;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

td.gsc-search-button {
  width: 15%;
  background: url('/images/icon-searchbar.png?1387541143') center no-repeat;
}
td.gsc-search-button:before {
  display: none;
}

td.gsc-input {
  height: 48px;
}

input.gsc-input {
  position: relative;
  top: 3px;
  height: 24px;
}

.main-navigation .pts2 a {
  background: url('/images/logo-pts2-small.png?1387361423') 50% 55% no-repeat;
  -webkit-background-size: 68px 20px;
  -moz-background-size: 68px 20px;
  -o-background-size: 68px 20px;
  background-size: 68px 20px;
}

.main-navigation .pts-hd a {
  background: url('/images/logo-pts-hd-small.png?1387361434') 50% 55% no-repeat;
  -webkit-background-size: 68px 20px;
  -moz-background-size: 68px 20px;
  -o-background-size: 68px 20px;
  background-size: 68px 20px;
}

.main-navigation .main-navigation-list li {
  border-bottom: 1px solid #CCC;
}

.main-navigation .channel.main-navigation-list li:first-child {
  border-right: 1px solid #CCC;
}

.video .video-thumbnail .play-icon {
  background-color: #FFF;
}

@media (min-width: 440px) {
  .campaign {
    margin-right: 1.13%;
  }

  .sidebar-pills-item {
    margin-right: 0.75%;
  }
}
@media (min-width: 640px) {
  .hero-tile .block {
    padding-bottom: 0;
    margin-right: 0.75%;
  }

  .hero-sub-tile .block {
    margin-right: 1.13%;
  }

  .video-group .video {
    margin-right: 1.13%;
  }

  .news-group .news {
    margin-right: 0.75%;
  }

  .now-playing .now-playing-list li + li {
    border-color: #CCC;
  }

  .now {
    border-color: #CCC;
  }
}
