.popup-video
  embed.popup-video-content src="http://www.pts.org.tw/_flash/mediaplayer.swf" allowfullscreen="true" flashvars="&file=http://media.pts.org.tw/ptsvideo/20131101_to00.flv&image=http://media.pts.org.tw/ptsvideo/20131101_to00.jpg&showeq=false&autostart=false&repeat=false" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
